
body{
	margin: 0;
	height: 100vh;
	background: #f5f5f6ed;
	font-family: 'Nunito';
}

.body-container{
	margin: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.right-body-container{
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.content-container{
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	overflow: auto;
}

.content-container-2{
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.content-main {
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.transaction-table-section{
	width:50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.transaction-table-title {
	display: flex;
	justify-content: space-between;
	font-size: large;
	font-weight: bold;
}


/* Your existing CSS styles */

.custom-table {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 5px;

}

.table-row {
	display: flex;
}

.header {
	background-color: #f0f0f0;
	font-weight: bold;
}

.table-cell {
	flex: 1;
	padding: 10px;
	border-right: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-cell:last-child {
	border-right: none;
}

.form-button-container{
	display: flex;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.form-button {
/* display: inline-block; */
	width: 40%;
	padding: 1em 0px;
	background-color: #1931A8;
	color: white;
	text-align: center;
	font-size: 100%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

/* Hover effect */
.form-button:hover {
/* background-color: #45a049; */
}


.welcome-section{
	margin-left: auto;
	margin-right: auto;
	width:95%;
	height: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.welcome-section .welcome-title{
	width:100%;
	font-weight: bold;
	font-size: 1.5em;
}
.welcome-section .welcome-subtitle{
	width:100%;
	color: gray;
}
.custom-dropdown {
	position: relative;
	display: inline-block;
}

.selected-item {
	width: 96% !important;
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
	width: 150px;
}

.dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	width: 150px;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #f1f1f1;
}

.trip-form-main {
	width: 100%;
	height: 90%;
}
.trip-form-container {
	height: 90%;
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
}

.itinerary-section {
	height: 80%;
	overflow: scroll;
}
.trip-form-container-2 {
	height: 90%;
	width: 90%;
	margin-left: auto;
	margin-right:auto;
	display: flex;
	flex-direction: column;
}

.itinerary-list{
	width: 90%;
	height: 92.5%;
	margin-left: auto;
	margin-right:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}


.itinerary-item{
	width: 22.5em;
	height: 24em;
	border-radius: 15px;
	overflow: hidden;
	border: 2px #c1bcbc solid;
	margin-bottom: 1em;
}
.itinerary-list > .itinerary-item:last-child{
	margin-bottom: 0px ;
}

.itinerary-image img {
	width: 100%;
}

.itinerary-container {
	width: 95%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.itinerary-title{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.itinerary-details{

}
.itinerary-name {
	font-weight: bold;
	font-size: large;
}
.itinerary-cost {
	text-decoration-line: underline;
	color: blue;
}
.itinerary-highlights{
	display: inline-flex;
	justify-content: space-between;
	width: 75%;
}
.itinerary-highlight-item {
	color: white;
	background: blue;
	padding: 2px 1px;
	border-radius: 10px;
}

@media screen and (min-width: 768px) {
	.trans-cards{
		display: none
	}
}

@media screen and (max-width: 768px) {

	.body-container{
		/* height: unset; */
	}

	.home-destination-row{
	height: 10em;
	width: 100%;
	}

	.welcome-title {
		width: 100%;
		font-weight: bold;
		font-size: x-large;
		margin: 1em 0.5em;
	}

	.welcome-subtitle {
		display: none;
		width: 100%;
		font-weight: bold;
		font-size: x-large;
		margin: 1em 0.5em;
	}

	.right-body-container{
		margin: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.content-container{
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.content-main {
		height: 60%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;

	}

	.custom-table {
		display: none;
	}

	.upcoming-trip{
		width: 100%;
		height: 25em;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.spacer {
		display: none;
	}

	.trip-form-3 {
		width: 98% !important;
		height: 30%;

	}
	.trip-form {
		height: 90%;
		overflow-y: unset !important;
	}

	#content-container-4 .trip-form {
		flex-wrap: unset;
		flex-direction: column;
	}

	.trip-form-container {
		justify-content: space-around;
	}

}

.trip-form-container {
		justify-content: space-around;
	}

.trip-form-container-2 {
	justify-content: space-around;
}

.trip-form {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	overflow-x: none;
	overflow-y: scroll;
}

.trip-form-1 {
	width: 45%;
	height: 40%;
	border: 2px solid white;
	border-radius: 15px;
	align-content: center;
	text-align: center;
	background: white;
	font-size: x-large;
	color: #1931A8;
	cursor: pointer;
	margin-bottom: 1em;
}

.trip-form-2 {
	width: 45%;
	height: 29%;
	border: 2px solid white;
	border-radius: 15px;
	align-content: center;
	text-align: center;
	background: white;
	font-size: x-large;
	color: #1931A8;
	cursor: pointer;
	margin-bottom: 1em;
}

.trip-form-3 {
	width: 30%;
	height: 90%;
	border: 2px solid white;
	border-radius: 15px;
	align-content: center;
	text-align: center;
	background: white;
	font-size: x-large;
	color: #1931A8;
	cursor: pointer;
	margin-bottom: 1em;
}

.inactive {
	display: none;
}

.slide-left-and-vanish {
	animation: slideLeftAndVanish 0.3s forwards;
}

@keyframes slideLeftAndVanish {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

.slide-right-and-appear {
	animation: slideRightAndVanish 0.5s forwards;
	}

	@keyframes slideRightAndVanish {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.slide-right-to-left-and-disappear {
animation: slideRightToLeftAnddisAppear 1s forwards;
}

@keyframes slideRightToLeftAnddisAppear {
	0% {
		opacity: 0;
		transform: translateX(0%);
	}
	100% {
		opacity: 1;
		transform: translateX(100%);
	}
}

.slide-right-to-left-and-appear {
animation: slideRightToLeftAndAppear 0.3s forwards;
}

@keyframes slideRightToLeftAndAppear {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
