/********** main-wrapper **********/
.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/********** header **********/
.dashboard-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
  box-shadow: 0px 4px 24px rgba(188, 188, 188, 0.13);
  position: relative;
}

.dashboard-header .dashboard-title {
  position: absolute;
  left: 200px;
}

.dashboard-header .right-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

/********** dashboard-content **********/
.dashboard-content {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
}

/********** sidebar **********/
.sidebar {
  width: 200px;
  border-right: 1px solid var(--easygo-gray-2);
  padding: 1rem 0;
  padding-left: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 0.5rem 0rem;
}

.sidebar ul a {
  color: var(--easygo-gray-1);
  display: flex;
  gap: 0.7rem;
}

.sidebar .main-list {
  font-size: 15px;
  font-weight: var(--font-weight-2);
}

.sidebar .main-list li {
  width: 100%;
}

.sidebar .sub-menu {
  font-size: var(--font-size-4);
  padding-left: 2rem;
}

/** main content **/
.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

.row {
  margin: 0;
}

/** form styles **/
.item-pad-list{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.item-pad{
  padding: 0.3rem 0.7rem !important;
  font-size: var(--font-size-5);
  background-color: var(--easygo-blue);
  color: white;
  border-radius: 50px;
}
