main{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 7rem;
}

section .dashcard{
	padding: 2rem;
}


.tab-pane{
	padding: 2rem;
}

#page-info h1,
#page-info p
{
	display: block;
}

.package-box{
	border: 1px solid lightgrey;
	padding: 12px;
	border-radius: 12px;
	background-color: rgba(211, 211, 211, 0.025);
	margin-bottom: 12px;
}

.package-box  input{
	background-color: white;
}

.pill-select-group > .pill-select-option{
	margin-bottom: 8px;
}