/* Navbar links */
#navbar-links {
    display: flex;
    list-style: none;
    margin: auto;
}

#navbar-links li {
    position: relative;
}

#navbar-links li a {
    margin: 0 12px;
    position: relative;
}

#navbar-links li:hover,
#navbar-links li a:hover {
    color: var(--easygo-blue);
}


/* Navbar toggler */
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

/* Navbar dropdown */
@media (min-width: 768px) {
    .dropdown-menu {
        display: none !important;
    }

    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}
